services:
  auth:
    volumes:
      - ../../services/auth/app:/app/app
      - ../../services/auth/tests:/app/tests
      - ../../services/auth/.env:/app/.env:ro
    command: ["python","-m","uvicorn","app.main:app","--host","0.0.0.0","--port","8000","--reload"]
    environment:
      PYTHONPATH: /app
      WATCHFILES_FORCE_POLLING: "1"  # WSL/ネットワークドライブで変更検知が弱い時の保険

  todo:
    volumes:
      - ../../services/todo/app:/app/app
      - ../../services/todo/tests:/app/tests
      - ../../services/todo/.env:/app/.env:ro
    command: ["python","-m","uvicorn","app.main:app","--host","0.0.0.0","--port","8000","--reload"]
    environment:
      PYTHONPATH: /app
      WATCHFILES_FORCE_POLLING: "1"

  gateway:
    volumes:
      - ../../gateway/app:/app/app
      - ../../gateway/.env:/app/.env:ro
    command: ["python","-m","uvicorn","app.main:app","--host","0.0.0.0","--port","8080","--reload"]
    environment:
      PYTHONPATH: /app
      WATCHFILES_FORCE_POLLING: "1"